#mapId {
    min-height: 600px;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #FDFDFD;
    box-shadow: 2px 2px 3px #DCDAD7;
}


/* 地图大小设置，IE9 */

html,
body {
    padding: 0px;
    margin: 0px;
    font-family: "Microsoft Yahei", "微软雅黑", "宋体";
    height: 100%;
    background-color: #f2f3f5;
}


/* 清除内外边距 */

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

fieldset,
lengend,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td {
    /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

.main-body {
    /*background: url(images/main-bg.png) repeat-x;*/
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.title {
    height: 30px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D5DFE5;
}

h3 {
    font-size: 14px;
    color: #2F83C7;
    padding-left: 20px;
}

h4 {
    font-size: 14px;
    color: #333333;
    margin-top: 18px;
    margin-left: 20px;
    margin-bottom: 12px;
}

h5 {
    font-size: 12px;
    color: #535353;
    text-indent: 35px;
    font-weight: normal;
}

p {
    font-size: 12px;
    color: #333333;
}

font {
    text-indent: 20px;
}

.gis-container {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}


/*top*/

.gis-top {
    height: 80px;
    width: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    border-bottom: 1px solid #E0E0E0;
    background-color: #FFFFFF;
}

.top-nav {
    height: 80px;
    position: absolute;
    font-weight: inherit;
    min-width: 1300px;
    left: 50%;
    right: 50%;
    margin-left: -650px;
}

.top-nav li {
    padding: 20px 5px;
    list-style-type: none;
    float: left;
}

#homeText {
    margin-left: 20px;
}

.top-nav li a {
    display: inline-block;
    color: #999999;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
}

.top-nav li a.nav-item-hover {
    display: inline-block;
    background: #FFFFFF;
    color: #26A2E7;
    border-radius: 3px;
}

.top-nav li a:hover {
    display: inline-block;
    background: #FFFFFF;
    color: #26A2E7;
    border-radius: 3px;
}

.gis-middle {
    /*min-height: 680px;*/
}


/*bottom*/

.gis-bottom {
    height: 26px;
    width: 100%;
    min-width: 1200px;
    position: fixed;
    overflow: hidden;
    background-color: #444444;
    font-size: 12px;
    color: #6F6F6F;
    line-height: 26px;
    text-align: center;
    bottom: 0px;
    left: 0px;
}


/*guide*/

.guide {
    margin: 0 auto;
    width: 1300px;
}


/*hello world*/

#guide-helloworld h3 {
    font-size: 16px;
    line-height: 38px;
    color: #00a0e9;
}

#mapContainer {
    width: 950px;
    height: 600px;
    margin-left: 10px;
    border: 1px solid #dfdfdf;
}

#guideRight {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}

.home {
    width: 100%;
    margin: 0 auto;
}

.home .describe {
    width: 100%;
    margin: 0 auto;
    /* margin-top: 10px; */
    /*padding-left: 40px;*/
}

.home .describe img {
    width: 100%;
    height: 420px;
}

.describe h3 {
    font-size: 36px;
    line-height: 40px;
    color: #f6795b;
    margin-top: 30px;
    padding-left: 0px;
    padding-top: 20px;
}

.home .describe p {
    font-size: 14px;
    line-height: 30px;
    color: #666666;
}

.clear {
    clear: both;
}

.home .middle-table {
    margin: 10px auto;
    width: 1000px;
}

.middle-table table {
    border-collapse: collapse;
}

.middle-table table td {
    width: 134px;
    height: 134px;
    position: relative;
    /*垂直靠顶*/
    vertical-align: top;
    padding-left: 18px;
    padding-top: 18px;
}

.middle-table td a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

.middle-table td a:hover {
    text-decoration: underline;
}

.middle-table table td img {
    width: 44px;
    height: 44px;
    position: absolute;
    bottom: 20px;
    right: 12px;
    /*    padding-right: 5px;
  padding-bottom: 10px;*/
}

.middle-table td ul {
    padding-left: 0px;
}

.main-body li {
    /*去掉li前面的小黑点*/
    list-style-type: none;
    line-height: 30px;
}

.middle-table td ul li a {
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    opacity: 0.6;
}

#network a {
    opacity: 1;
}

.middle-table td ul li a:hover {
    opacity: 1;
}

#home {
    background-color: #F1755D;
}

#home:hover {
    background-color: #f73a0d;
}


/*DEMO示例*/

#gis_demo {
    background-color: #A169BB
}

#gis_demo:hover {
    background-color: #8d20bb
}


/*应用展示*/

#application {
    background-color: #a5c462
}

#application:hover {
    background-color: #87c405
}


/*接入城市列表*/

#city {
    background-color: #E84F65
}

#city:hover {
    background-color: #ec0a20
}


/*发布版本*/

#version {
    background-color: #61bee9
}

#version:hover {
    background-color: #0860ea
}


/*综合示例*/

#all_demos {
    background-color: #a5c462
}

#all_demos:hover {
    background-color: #87c405
}


/*下载中心*/

#download {
    background-color: #61bee9
}

#download:hover {
    background-color: #0860ea
}


/*地图服务*/

#services {
    background-color: #F7C54B
}

#services:hover {
    background-color: #f9b80c
}


/*类参考*/

#class {
    background-color: #61bee9
}

#class:hover {
    background-color: #0860ea
}


/*公司内网外网*/

#network {
    background-color: #F7C54B
}

#network:hover {
    background-color: #f9b80c
}


/*常见问题*/

#problem {
    background-color: #F1755D
}

#problem:hover {
    background-color: #f73a0d
}


/*guide*/

.mbread {
    min-width: 1050px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    color: #000;
    width: 1105px;
    height: 36px;
    padding-top: 5px;
}

.clearfix {
    width: 1300px;
    margin: 0 auto;
    font-family: sans-serif;
}

.clearfix a {
    font-size: 12px;
    line-height: 22px;
    color: #666666;
    text-decoration: none;
    font-family: sans-serif;
}

.class-belongs a {
    color: #999999;
}

.class-position a {
    color: #999999;
}

.class {
    width: 1300px;
    margin: 0 auto;
}

.guide-left {
    width: 197px;
    background-color: #ffffff;
    overflow: auto;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.gis-middle .guide-left ul {
    padding-left: 0px;
    padding-top: 0px;
    text-align: left;
}

.guide-left li {
    width: 197px;
    height: 42px;
    line-height: 42px;
    border-left: 2px solid #30A9E7;
}

.guide-left li.active {
    border-left: 2px solid #F1816C;
    background-color: #F5F5F5;
    margin-top: 1px;
    margin-bottom: 1px;
}

.guide-left li.active a {
    color: #F1816C;
    font-weight: bold;
}

.guide-left li:hover {
    background: #F5F5F5;
}

.guide-left a {
    text-decoration: none;
    padding-left: 20px;
    color: #666666;
    font-size: 14px;
}

.guide-right {
    width: 1000px;
    height: 580px;
    overflow: auto;
    background-color: #ffffff;
    position: relative;
}

.guide-right p {
    font-size: 14px;
    line-height: 22px;
    color: #444444;
    padding-top: 15px;
}

.guide-right h3 {
    font-size: 16px;
    line-height: 38px;
    color: #26A2E7;
    padding-left: 0px;
}


/*class*/

.class-tree {
    width: 240px;
    background-color: #FFFFFF;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #F0F1F2 #F0F1F2 #D7D8D9 #EBECEF;
    border-top: 2px solid #26A2E7 !important;
}

.class-container {
    background-color: #fff;
    width: 1000px;
    border-style: solid;
    border-width: 1px;
    border-color: #F7F8F9 #EBECEF #D5D5D7 #ECEDEE;
    padding-left: 20px;
    overflow: hidden;
    margin-left: 20px;
}

.class-iframe {
    border: none;
    overflow: hidden;
    width: 1000px;
}

.ztree {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px dashed #D5DFE5;
}


/*demo*/

#content {
    height: 80%;
    position: absolute;
    width: 100%;
}

.demo-tree {
    min-width: 250px;
    background-color: #FAFAFA;
    border: 1px solid #E0E0E0;
    overflow: auto;
    border-left: none;
    height: 100%;
}

.code-area {
    width: 500px;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    overflow: hidden;
}

#openbar p {
    padding-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    padding-left: 14px;
}

.demo-container {
    right: 0px;
    margin: 0 auto;
    border: 1px solid #E0E0E0;
    overflow: hidden;
    border-right: none;
    height: 100%;
}

.demo-iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    /*min-width: 800px;*/
    margin: 0 auto;
}


/*编辑代码区*/

#map_menu {
    width: 200px;
}

.code-area #openbar {
    /*background: #f6f6f6 url(img/bg-footbar.gif) repeat-x;*/
    background-color: #f6f6f6;
    height: 36px;
    width: 500px;
}

.CodeMirror {
    width: 100%;
}

#map_menu a {
    font-size: 12px;
    line-height: 25px;
    color: #00a0e9;
    padding-left: 30px;
}

#map_menu a:hover {
    font-weight: bold;
    cursor: pointer;
}

#openbar .copy {
    background: url(images/复制.png) no-repeat 0 0;
    background-position: 12px 10px;
    padding-top: 5px;
}

#openbar .run {
    background: url(images/运行.png) no-repeat 0 0;
    background-position: 12px 10px;
    padding-top: 5px;
}

#openbar .refresh {
    background: url(images/刷新.png) no-repeat 0 0;
    background-position: 12px 10px;
    padding-top: 5px;
}


/*地图demos整合样式*/

.demo-all {
    min-width: 1200px;
    min-height: 680px;
}

#maptool {
    width: 280px;
    overflow: auto;
    padding-left: 20px;
    background-color: #ffffff;
    min-height: 600px;
}

#displaymap {
    position: absolute;
    min-height: 600px;
}

.attr-list h3 {
    margin-top: 12px;
    font-size: 12px;
    line-height: 18px;
    font-weight: bolder;
    color: #333333;
}

.attr-list a {
    display: inline-block;
    background-color: #eff4f8;
    border: 1px solid #bfd4ea;
    margin-top: 8px;
    margin-right: 4px;
    padding: 5px 8px 5px 8px;
    color: #0088cc;
    border-radius: 3px;
    font-size: 12px;
}

.attr-list a:link {
    text-decoration: none;
}

.attr-list a:visited {
    text-decoration: none;
}

.attr-list a:hover {
    text-decoration: none;
    background-color: #f6795b;
    border: 1px solid #f6795b;
    color: #ffffff;
}

.attr-list a:active {
    text-decoration: none;
}

.coordinate {
    width: 200px;
}

.cancleFullwin {
    padding: 3px 10px;
    background-color: #dfdfdf;
    border: 1px solid #D5DFE5;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    color: #3DA3EF;
    display: none;
    cursor: pointer;
}

.point-msg {
    width: 244px;
    height: 49px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px;
    color: #666666;
}


/*下载中心*/


/*简介*/

.download {
    width: 1200px;
    margin: 0 auto;
}

.download .summary {
    width: 1180px;
    margin-top: 9px;
    background-color: #ffffff;
}

.download table {
    padding-left: 20px;
}

.download .sort td {
    border-bottom: 1px solid #D5DFE5;
    height: 38px;
}

.frame {
    box-shadow: 2px 2px 3px #DCDAD7;
}

.download span {
    padding-bottom: 3px;
    border-bottom: 2px solid #f6795b;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.download .summary .doc {
    text-align: right;
    padding-right: 10px;
}

.download .summary a {
    font-size: 14px;
    color: #00a0e9;
    text-decoration: none;
}

.download .summary h3 {
    font-size: 14px;
    padding-top: 10px;
    font-weight: bold;
    color: #666666;
    padding-left: 0px;
}

.download .summary p {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    padding-right: 10px;
}


/*api sdk 工具下载*/

.downloadContent {
    width: 383px;
    height: 210px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.download p {
    padding-left: 0px;
    padding-top: 12px;
}

.downloadContent table {
    width: 370px;
}

.downloadContent table tr {
    vertical-align: top;
}

.downloadContent .title {
    font-size: 16px;
    line-height: 18px;
    color: #333333;
}

.downloadContent .title td {
    border-bottom: 1px solid #D5DFE5;
}

.downloadContent .theme {
    min-width: 80px;
}

.downloadContent .theme p {
    font-size: 14px;
    padding-top: 12px;
    color: #666666;
    font-weight: bold;
}

.downloadContent a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #00a0e9;
}

.downloadContent font {
    font-size: 12px;
    line-height: 18px;
    color: #999999;
}


/*其他下载*/

.other-download {
    width: 1180px;
    margin-bottom: 40px;
    background-color: #ffffff;
    padding-bottom: 40px;
}

.other-download table {
    width: 1180px;
    min-height: 200px;
}

.other-download .first p {
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.other-download p {
    font-size: 14px;
    color: #666666;
    font-weight: bold;
}

.other-download a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #00a0e9;
    font-weight: normal;
}

.other-download .title td {
    border-bottom: 1px solid #D5DFE5;
    padding-top: 5px;
}

.other-download td {
    vertical-align: top;
}


/*city*/

.city-tree {
    min-width: 250px;
    background-color: #FAFAFA;
    border: 1px solid #E0E0E0;
    overflow: auto;
    border-left: none;
}

.city-container {
    right: 0px;
    margin: 0 auto;
    border: 1px solid #E0E0E0;
    overflow: hidden;
    border-right: none;
    /*min-height: 666px;*/
}

.city-iframe {
    width: 100%;
    border: none;
    overflow: hidden;
    margin: 0 auto;
}


/*version*/

.version-div {
    width: 1150px;
    border-spacing: 0px;
    background-color: #ffffff;
    margin: 0 auto;
}

.version-table {
    margin-top: 45px;
    width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
    border-collapse: collapse;
    margin-left: 20px;
}

.version-table .title p {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    padding-top: 17px;
    padding-bottom: 17px;
}

.version-table .title span {
    padding-bottom: 10px;
    border-bottom: 2px solid #f6795b;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.version-table .title {
    height: 30px;
    border-bottom: 1px solid #D5DFE5;
    padding-bottom: 0px;
}

.version-table .even {
    background-color: #fafafa;
    border: 1px solid #ececec;
}

.version-table .number {
    width: 480px;
    height: 70px;
    position: relative;
}

.version-table .number p {
    padding-left: 20px;
    width: 380px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.version-table .new-function {
    font-size: 12px;
    line-height: 18px;
    color: #0088cc;
    position: absolute;
    top: 35px;
    right: 20px;
}

.version-table .new-function:hover {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 20px;
}

.mask {
    display: none;
    position: absolute;
    top: 0px;
    background-color: #777;
    z-index: 1002;
    left: 0px;
    opacity: 0.7;
}

#tabs {
    display: none;
    position: absolute;
    z-index: 2000;
    width: 482px;
    padding: 0px 0px 0px 0px;
}

.tabs h3 {
    padding-top: 18px;
    padding-left: 18px;
}

.tabs table {
    margin-top: 0px;
    width: 482px;
    background-color: #f4f4f4;
}

.tabs .date {
    padding-left: 18px;
}

.tabs .tab-nav {
    background-color: #f4f4f4;
    border: none;
    border-bottom: 1px solid #dcdcdc;
}

.tabs .tab-nav .tab-nav-list {
    margin-left: 20px;
    width: 79px;
    height: 25px;
    font-size: 12px;
    line-height: 24px;
    border: 1px solid #dcdcdc;
    border-bottom: none;
}

.tabs .tab-nav .tab-nav-list a {
    padding-top: 0px;
    padding-left: 15px;
}

.tabs .close {
    width: 20px;
    background: url(images/close.png) no-repeat 0 0;
    background-position: 8px 9px;
    padding-top: 10px;
    padding-right: 10px;
}

.tabs .close:hover {
    cursor: pointer;
    width: 20px;
    background: url(images/close_hover.png) no-repeat 0 0;
    background-position: 8px 9px;
}

.tabs .function-list {
    font-size: 12px;
    line-height: 24px;
    color: #777777;
}

.version-table h3 {
    font-size: 18px;
    line-height: 18px;
    color: #0088cc;
}

.version-table p {
    font-size: 12px;
    line-height: 18px;
    color: #777777;
}

.version-div .version-download {
    text-align: right;
    padding-right: 40px;
}

.version-div .version-download a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #0088cc;
    display: inline-block;
    border: 1px solid #bfd4ea;
    border-radius: 3px;
    padding: 6px 18px 6px 22px;
    background: url(images/download.png) no-repeat 0 0;
    background-position: 8px 9px;
    background-color: #f0f5f9;
}

.version-div .version-download a:hover {
    background: url(images/download_hover.png) no-repeat 0 0;
    background-position: 8px 9px;
    background-color: #f6795b;
    color: #ffffff;
}


/*application*/

.application {
    width: 1200px;
    margin: 0 auto;
}

.applicationTable {
    margin-top: 20px;
    width: 1200px;
    height: 641px;
    background-color: #ffffff;
}

.applicationTable .top td {
    height: 80px;
}

.applicationTable .light_ambient {
    padding-top: 30px;
    padding-bottom: 0px;
}

.applicationTable .one {
    padding-top: 30px;
    padding-left: 119px;
}

.applicationTable p {
    padding-left: 119px;
    font-size: 14px;
    line-height: 25px;
    color: #666666;
}

.applicationTable .middle td {
    height: 20px;
}

.applicationTable .two {
    padding-left: 80px;
    padding-top: 20px;
}

.applicationTable .bottom td {
    height: 500x;
}

.applicationTable .keyboard-elements {
    padding-left: 80px;
}

.applicationTable .describe {
    width: 500px;
    height: 150px;
}

.applicationTable .describe p {
    padding-left: 80px;
}


/*problem*/

.problem-div {
    margin-top: 29px;
    background-color: #ffffff;
    width: 1100px;
    margin-bottom: 60px;
    padding-left: 34px;
    padding-right: 34px;
    margin-left: auto;
    margin-right: auto;
}

.problem {
    padding-top: 5px;
}

.answer {
    padding-bottom: 30px;
}

.problem tr td {
    border-bottom: 1px dotted #E0E0E0;
    width: 600px;
}

.problem p {
    font-size: 14px;
    line-height: 40px;
    padding-left: 5px;
}

.problem a {
    text-decoration: none;
    color: #666666;
}

.problem font {
    color: #f6795b;
}

.answer h3 {
    font-size: 16px;
    line-height: 40px;
    color: #00a0e9;
    padding-left: 5px;
}

.answer tr td {
    border-bottom: 1px dotted #E0E0E0;
    padding-bottom: 20px;
}

.answer p {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    padding-left: 5px;
}

.toptoggle {
    background: #fff url(images/返回顶部默认.png) no-repeat 0 0;
    position: fixed;
    right: 62px;
    bottom: 78px;
    z-index: 200px;
    width: 44px;
    height: 40px;
}

.toptoggle:hover {
    background: #fff url(images/返回顶部hover.png) no-repeat 0 0;
}

#area {
    position: relative;
    z-index: 99999;
    float: right;
    top: 20px;
    right: 20px;
}

.services {
    width: 1300px;
    height: 650px;
    margin: 0 auto;
}

.services-iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.appMap {
    position: absolute;
    left: 0;
    top: 80px;
    right: 0;
    bottom: 0;
}

.appVideo {
    display: none;
}

.appPano {
    display: none;
}

.appMap.active {
    position: absolute;
    left: 0;
    top: 80px;
    width: 590px;
    bottom: 300px;
}

.appMap.active img {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.appMap.active #mapId {
    min-height: 0px !important;
    box-shadow: 0px 0px 0px #DCDAD7 !important;
}

.appVideo.active {
    position: absolute;
    left: 0;
    height: 298px;
    width: 590px;
    bottom: 0;
    display: block;
    background-color: gray;
    background-image: url(../images/normal_720.png);
    background-position: center;
    background-repeat: no-repeat;
}

.appPano.active {
    position: absolute;
    left: 592px;
    top: 80px;
    right: 0;
    bottom: 0;
    display: block;
    background-color: gray;
}

.appMap .searchbox-container {
    border-radius: 2px;
    width: 325px;
    position: relative;
    left: 10px;
    top: 10px;
    z-index: 5;
}

.appMap.active .searchbox-container {
    display: none;
}

.appMap .searchbox-container .searchbox-content {
    position: relative;
    z-index: 2;
    pointer-events: auto;
    width: 268px;
    float: left;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .15);
}

.appMap .searchbox-container .searchbox-content #sole-input {
    box-sizing: border-box;
    border: 0;
    padding: 9px 0;
    width: 268px;
    border-left: 10px solid transparent;
    border-right: 27px solid transparent;
    line-height: 20px;
    font-size: 16px;
    height: 38px;
    color: #333;
    position: relative;
    border-radius: 2px 0 0 2px;
}

.appMap .searchbox-container button {
    pointer-events: auto;
    background: url(http://webmap0.map.bdstatic.com/wolfman/static/common/images/new/searchbox_f175577.png) no-repeat 0 -76px #3385ff;
    width: 57px;
    height: 38px;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .15);
    outline: 0;
    font-family: inherit;
}

.appMap .searchbox-container .resultList {
    width: 267px;
    background-color: white;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .15);
}

.appMap .searchbox-container .resultList ul li {
    padding-left: 10px;
    cursor: pointer;
}

.appMap .searchbox-container .resultList ul li:hover {
    background-color: #d0d2d6;
}

#pano-return-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 200002;
    display: none;
}

#pano-return-btn .pano_button {
    height: 40px;
    width: auto;
    text-decoration: none;
    border-radius: 2px;
    background-color: rgba(37, 37, 37, .9);
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

#pano-return-btn .pano_button span {
    background-image: url(http://webmap0.map.bdstatic.com/wolfman/static/pano/images/pano_whole/album_aae0aec.png);
    width: 11px;
    height: 18px;
    background-position: -98px -80px;
    margin: 11px 8px 11px 19px;
    display: inline-block;
    background-repeat: no-repeat;
}

#pano-return-btn .pano_button em {
    line-height: 40px;
    height: 40px;
    vertical-align: top;
    color: gray;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    margin-right: 12px;
    font-size: 12px;
}

.indoor_poi_detail_container {
    position: absolute;
    left: 100px;
    top: 10px;
    width: 300px;
    height: 40px;
    background-color: #3a3a3a;
    z-index: 20002;
    display: none;
}

.appMap.active .indoor_poi_detail_container {
    display: block;
}

.appMap.active #pano-return-btn {
    display: block;
}

.indoor_poi_icon.indoor_poi_name {
    background-image: url(http://webmap1.map.bdstatic.com/wolfman/static/pano/images/pano_whole/poi_marker_efd2360.png);
    width: 18px;
    height: 18px;
    background-position: 0 0;
    float: left;
    margin-top: 11px;
    margin-left: 10px;
}

.indoor_poi_detail_container dd {
    line-height: 40px;
    float: left;
    margin-left: 10px;
}



.iw-container {
    background: #fff;
}

.iw-face {
    width: 283px;
    color: #fff;
}

.iw-car {
    width: 355px;
    color: #fff;
}

.iw-container .l {
    float: left;
    width: 100px;
    position: relative;
    background: #222;
    box-shadow: 2px 2px rgba(34, 34, 34, .1);
}

.iw-container .iw-car .l {
    width: 172px;
}

.iw-container .r {
    float: left;
    width: 182px;
    list-style: disc inside;
}

.iw-container .r li {
    background: #222;
    box-shadow: 3px 3px rgba(34, 34, 34, .3);
    padding: 3px 10px;
    margin: 0 0 8px 5px;
}

.iw-container .l>img {
    width: 100%;
    height: 134px;
}

.iw-container .l>p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00577f;
    color: #fff;
    line-height: 25px;
    text-align: center;
}

.iw-container .l>p:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: -24px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12px 10px 12px 10px;
    border-color: #00577f transparent transparent transparent;
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

.roomPano {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    background-color: black;
    z-index: 99;
    display: none;
}

.roomPano .pano_button {
    height: 40px;
    width: auto;
    text-decoration: none;
    border-radius: 2px;
    background-color: rgba(37, 37, 37, .9);
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    overflow: hidden;
}

.roomPano .pano_button span {
    background-image: url(http://webmap0.map.bdstatic.com/wolfman/static/pano/images/pano_whole/album_aae0aec.png);
    width: 11px;
    height: 18px;
    background-position: -98px -80px;
    margin: 11px 8px 11px 19px;
    display: inline-block;
    background-repeat: no-repeat;
}

.roomPano .pano_button em {
    line-height: 40px;
    height: 40px;
    vertical-align: top;
    color: gray;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    margin-right: 12px;
    font-size: 12px;
}

.roomPano .panoList {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 120px;
    cursor: pointer;
}

.roomPano .panoList li {
    float: left;
    width: 200px;
    height: 108px;
    margin-left: 10px;
}

#panoMapRoom {
    position: absolute;
    top: 0px;
    bottom: 122px;
    left: 0;
    right: 0;
}